<template>
	<a @click.prevent="dispatch" :class="actionLinkClasses">
		<slot></slot>
	</a>
</template>
<style>
</style>
<script>
	export default{
		props: [
			'action',
			'actionClass'
		],
		methods: {
			dispatch(){
				//this.action = this.action ? this.action : 'No action input';
				if (this.action)
				//console.log(this.action);
					this.$dispatch('action-triggered', this.action);
			}
		},
		computed: {
			actionLinkClasses(){
				var actionClass = this.actionClass;
				return {
					'btn': true,
					'btn-default': !actionClass,
					'btn-primary': actionClass == 'primary',
					'btn-success': actionClass == 'success',
					'btn-info': actionClass == 'info',
					'btn-warning': actionClass == 'warning',
					'btn-danger': actionClass == 'danger',
					'btn-link': actionClass == 'link'
				}
			}
		}
	}
</script>