<template>
	<select class="form-control input-large" v-model="selected" @change="broadcast">
		<option value="" disabled selected>Choose your option</option>
		<option v-for="option in options" :value="option.value">{{option.value}}</option>
	</select>
</template>
<script>
	export default{
		data(){
			return {
				selected: 'Pick One',
				options: [
					{value: 'Wine Opener'},
					{value: 'Screen Protector'},
					{value: 'Wine Cooler'}
				]
			}
		},
		methods:{
			broadcast(){
				this.$dispatch('category-changed', this.selected);
			}
		}
	}
</script>