<template>
	<table class="table dataTable table-hover table-light">
		<thead>
		<tr>
			<th v-for="column in columns" @click="sortBy(column.name)" :class="!data ? '' : sortKey != column.name ? 'sorting' : sortOrders[column.name] > 0 ? 'sorting_asc' : 'sorting_desc'">
				{{column.text | capitalize }}
			</th>
		</tr>
		</thead>
		<tbody>
		<tr v-for="entry in data | orderBy sortKey sortOrders[sortKey]">
			<td v-for="column in columns">
				{{entry[column.name] | dynamic column.name filters}}
			</td>
		</tr>
		</tbody>
	</table>
</template>
<style>
	.pagination-panel {
		padding-bottom: 10px;
	}

	.pagination-panel-input {
		text-align: center;
		margin: 0 5px;
		padding-right: 0;
	}
</style>
<script>
	export default{
		props: {
			data: Array,
			columns: Array,
			filterKey: String,
			filters: Array
		},
		data(){
			let sortOrders = {};
			this.columns.forEach(function (key) {
				sortOrders[key.name] = 1;
			});
			return {
				sortKey: '',
				sortOrders: sortOrders,
				paginator: {},
				endPoint: '',
				pageList: []
			}
		},
		methods: {
			sortBy(key, order) {
				this.sortKey = key;
				if (!order) {
					this.sortOrders[key] = this.sortOrders[key] * -1;
				} else {
					this.sortOrders[key] = order;
				}
			}
		},
		filters: {
			dynamic(val, field, filters){
				let vueFilters = this.$root.$options.filters;
				filters.forEach(function (config) {
					if (config.field == field) {
						config.filters.forEach(function (filter) {
							let args = [val];
							if (filter.args) {
								args = args.concat(filter.args);
							}
							val = vueFilters[filter.filter].apply(this, args) || val;
						})
					}
				});
				return val;
			}
		},
		ready(){
		}
	}
</script>