<template>
	<div class="vue-members-grid">
		<h3 v-cloak v-if="data.length == 0" class="text-center">No Users Found</h3>
		<table v-cloak v-else class="table dataTable table-hover table-light">
			<thead>
			<tr>
				<th v-for="key in columns" @click="sortBy(key)" :class="!data ? '' : sortKey != key ? 'sorting' : sortOrders[key] > 0 ? 'sorting_asc' : 'sorting_desc'">
					{{key | capitalize }}
				</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr v-for="entry in data | orderBy sortKey sortOrders[sortKey]">
				<td>
					<span v-if="entry['is_pending']">{{entry['name']}} - <a href="{{entry['invitation_url']}}">Invited</a></span>
					<span v-else><a href="{{entry['url']}}">{{entry['name']}}</a></span>
				</td>
				<td><a href="mailto:{{entry['email']}}">{{entry['email']}}</a></td>
				<td>
					<button class="btn btn-icon-only btn-outline red" @click="confirm(entry)">
						<i class="icon-trash font-lg"></i>
					</button>
				</td>
			</tr>
			</tbody>
		</table>
		<div v-if="paginator && paginator.total_pages > 1" class="pagination-panel text-right">
			Page
			<a @click="paginate(paginator.prev)" :disabled="!paginator.prev" class="btn btn-sm default prev {{!paginator.prev ? 'disabled' : ''}}"><i class="fa fa-angle-left"></i></a>
			<input type="number" class="pagination-panel-input form-control input-sm input-inline input-mini" min="0" max="{{paginator.total_pages}}" v-model="paginator.current_page" @keyup.enter="paginate(paginator.current_page)">
			<a @click="paginate(paginator.next)" :disabled="!paginator.next" class="btn btn-sm default next {{!paginator.next ? 'disabled' : ''}}"><i class="fa fa-angle-right"></i></a> of
			<span class="pagination-panel-total">{{paginator.total_pages}}</span>
		</div>
		<Modal :show.sync="confirmModal.show" size="sm">
			<div slot="header">
				<h3>Confirmation</h3>
			</div>
			<div slot="body">
				{{confirmModal.message}}
			</div>
			<div slot="footer">
				<button class="btn btn-success" @click="deleteUser"><i class="glyphicon glyphicon-ok"></i> Yes</button>
				<button class="btn btn-default" @click="confirmModal.show = false">
					<i class="glyphicon glyphicon-remove"></i> No
				</button>
			</div>
		</Modal>
	</div>
</template>
<style>
	.pagination-panel {
		padding-bottom: 10px;
	}

	.pagination-panel-input {
		text-align: center;
		margin: 0 5px;
		padding-right: 0;
	}
</style>
<script>
	import Modal from "./Modal.vue"
	export default{
		props: {
			columns: {
				type: Array
			},
			filterKey: String,
			url: {
				type: String,
				required: true
			}
		},
		data() {
			var sortOrders = {};
			this.columns.forEach(function (key) {
				sortOrders[key] = 1;
			});
			return {
				data: [],
				sortKey: '',
				sortOrders: sortOrders,
				paginator: {},
				endPoint: '',
				pageList: [],
				confirmModal: {
					show: false,
					message: '',
					userToDelete: {}
				}
			}
		},
		components: {
			Modal
		},
		events: {
			'ajax-form-success': function (id) {
				if (id == 'invitation')
					this.fetchData(this.url);
			}
		},
		methods: {
			sortBy(key, order) {
				this.sortKey = key;
				if (!order) {
					this.sortOrders[key] = this.sortOrders[key] * -1;
				} else {
					this.sortOrders[key] = order;
				}

			},
			fetchData(url){
				this.$http.get(url)
						.then(this.onComplete.bind(this))
						.catch(this.onError.bind(this));
			},
			onComplete(response){
				this.data = response.data.data;
				this.paginator = response.data.paginator;
				//this.buildPageList(vm.paginator);
			},
			onError(response){
				console.info('[members-grid]: ' + response.data.message);
				if(response.status == 404)
				this.data = [];
			},
			buildPageList(paginator){
				if (paginator.total_pages > 0) {
					var list = [];
					var i = 1;
					for (i = 1; i <= paginator.total_pages; i++) {
						var page = {
							number: i,
							url: this.endPoint + '?page=' + i,
							current: paginator.current_page == i
						};
						list.push(page);
					}
					this.pageList = list;
				}
			},
			paginate(url){
				if (!url) {
					return false;
				}
				if ($.isNumeric(url)) {
					console.log(url);
					url = this.url + '?page=' + url;
				}

				this.fetchData(url);
			},
			confirm(user){
				this.confirmModal.show = true;
				this.confirmModal.message = 'Confirm removing ' + user.name + '\'s access?';
				this.confirmModal.userToDelete = user;
			},
			deleteUser(){
				var user = this.confirmModal.userToDelete;
				this.$http
						.delete(this.url + '/' + user.id)
						.then(this.deleteComplete.bind(this))
						.catch(this.deleteError.bind(this));
			},
			deleteComplete(response){
				this.confirmModal.show = false;
				this.fetchData(this.url);
				toastr.success(response.data.message);
			},
			deleteError(response){
				toastr.error(response.data.message);
			}
		},
		ready(){
			this.fetchData(this.url);
		}
	}
</script>