<template>
	<div class="modal-mask" v-show="show" transition="modal">
		<div class="modal-wrapper">
			<div :class="modalClass">
				<div class="modal-header">
					<slot name="header">
						<h3>Default header</h3>
					</slot>
				</div>
				<div v-if="!slotExists('form')" class="row modal-body">
					<slot name="body">
						Default Body
					</slot>
				</div>
				<div v-if="!slotExists('form')" class="modal-footer">
					<slot name="footer">
						<button class="btn btn-default" @click="triggerModal">Cancel</button>
					</slot>
				</div>
				<slot name="form"></slot>
			</div>
		</div>
	</div>
</template>
<style>
	.modal-mask {
		position: fixed;
		z-index: 9998;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .5);
		display: table;
		transition: opacity .3s ease;
	}

	.modal-wrapper {
		display: table-cell;
		vertical-align: middle;
	}

	.modal-container {
		margin: 0 auto;
		padding: 20px 30px;
		background-color: #fff;
		border-radius: 2px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
		transition: all .3s ease;
		font-family: Helvetica, Arial, sans-serif;
	}

	.modal-header h3, .modal-header h4 {
		margin-top: 0;
		color: #42b983;
	}

	.modal-body {
		margin: 20px 0;
	}

	.modal-default-button {
		float: right;
	}

	.modal-enter, .modal-leave {
		opacity: 0;
	}

	.modal-enter .modal-container,
	.modal-leave .modal-container {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}

	@media (min-width: 768px) {
		.modal-container {
			width: 600px;
			margin: 30px auto;
		}

		.modal-sm {
			width: 300px;
		}
	}

	@media (min-width: 992px) {
		.modal-lg {
			width: 900px;
		}
	}
</style>
<script>
	import coerceBoolean from './utils/coerceBoolean.js'
	export default{
		props: {
			show: {
				type: Boolean
			},
			size: {}
		},
		events: {
			'action-triggered': function (action) {
				switch (action) {
					case 'modal':
						this.triggerModal();
						break;
					case 'close-modal':
						this.closeModal();
						break;
					default:
						break;
				}
			},
			'ajax-form-success': function (id) {
				if (this.hasAjaxForm())
					this.closeModal();
			}
		},
		methods: {
			triggerModal(){
				this.show = !this.show;
			},
			closeModal(){
				this.show = false;
			},
			slotExists (slotName) {
				if (!this['_slotContents']) {
					return false
				}
				return this._slotContents[slotName];
			},
			hasAjaxForm(){
				return (this.$el.querySelector('form') != null);
			}
		},
		computed: {
			modalClass(){
				var size = this.size;
				return {
					'modal-container': true,
					'modal-lg': size == 'lg',
					'modal-sm': size == 'sm'
				}
			}
		}

	}
</script>