<template>
	<div class="vue-product-grid">
		<div class="clearfix">
			<div class="pull-right">
				<select class="form-control input-large" title="Select Product Type" v-select="searchQuery" :options="productTypes">
					<option value="" selected>Select a Category</option>
				</select>
			</div>
		</div>
		<div class="table-scrollable table-scrollable-borderless">
			<table class="table dataTable table-hover table-light">
				<thead>
				<tr>
					<th v-for="column in columns" @click="sortBy(column.name)" :class="!data ? '' : sortKey != column.name ? 'sorting' : sortOrders[column.name] > 0 ? 'sorting_asc' : 'sorting_desc'">
						{{column.text | capitalize }}
					</th>
				</tr>
				</thead>
				<tbody>
				<tr v-for="entry in data | filterBy searchQuery in 'product_type' | orderBy sortKey sortOrders[sortKey]">
					<td>{{entry['product_type']}}</td>
					<td>
						<a href="/products/{{entry['asin']}}/edit" title="{{entry['product_title']}}">{{entry['product_title']}}</a>
					</td>
					<td>
						<a href="/products/{{entry['asin']}}/edit" class="tooltips" data-original-title="SKU: {{entry['sku']}}">{{entry['asin']}}</a>
					</td>
				</tr>
				</tbody>
			</table>
			<div v-if="paginator.total_pages > 1" class="pagination-panel pull-right margin-top-10">
				Page
				<a @click="paginate(paginator.prev)" :disabled="!paginator.prev" class="btn btn-sm default prev {{!paginator.prev ? 'disabled' : ''}}"><i class="fa fa-angle-left"></i></a>
				<input type="number" class="pagination-panel-input form-control input-sm input-inline input-mini" min="0" max="{{paginator.total_pages}}" v-model="paginator.current_page" @keyup.enter="paginate(paginator.current_page)">
				<a @click="paginate(paginator.next)" :disabled="!paginator.next" class="btn btn-sm default next {{!paginator.next ? 'disabled' : ''}}"><i class="fa fa-angle-right"></i></a> of
				<span class="pagination-panel-total">{{paginator.total_pages}}</span>
			</div>
		</div>
	</div>
</template>
<style>
</style>
<script>
	export default{
		props: {
			url: String,
			data: Array,
			columns: Array
		},
		data(){
			let sortOrders = {};
			this.columns.forEach(function (key) {
				sortOrders[key.name] = 1;
			});
			return {
				data: [],
				searchQuery: '',
				sortKey: '',
				sortOrders: sortOrders,
				paginator: {},
				pageList: [],
				productTypes: []
			}
		},
		events: {
			'ajax-form-success'(){
				this.fetchData();
			}
		},
		methods: {
			fetchData(){
				if (this.url) {
					this.$http.get(this.url)
							.then(this.onComplete.bind(this))
							.catch(this.onError.bind(this));
				}
			},
			onComplete(response){
				//this.columns = this.makeColumns(response.data.data);
				this.data = response.data.data;
				this.paginator = response.data.paginator;
				this.$nextTick(function () {
					$(".tooltips").tooltip();
				});
			},
			onError(response){

			},
			makeColumns(data){
				if (data) {
					let set = data.shift();
					let columnNames = [];
					for (key in set) {
						columnNames.push(key);
					}
					return columnNames;
				}
			},
			sortBy(key, order) {
				this.sortKey = key;
				if (!order) {
					this.sortOrders[key] = this.sortOrders[key] * -1;
				} else {
					this.sortOrders[key] = order;
				}
			},
			buildPageList(paginator){
				if (paginator.total_pages > 0) {
					var list = [];
					var i = 1;
					for (i = 1; i <= paginator.total_pages; i++) {
						var page = {
							number: i,
							url: this.endPoint + '?page=' + i,
							current: paginator.current_page == i
						};
						list.push(page);
					}
					this.pageList = list;
				}
			},
			paginate(page){
				if (!page) {
					return false;
				}
				if ($.isNumeric(page)) {
					this.url += '?page=' + page;
				} else {
					this.url = page;
				}
				this.fetchData();
			},
			fetchOptions(){
				this.$http.get('/api/v1/product-types')
						.then(this.loadOptions.bind(this))
						.catch(this.onError.bind(this))
			},
			loadOptions(response){
				let options = [];
				response.data.data.forEach(function (obj) {
					options.push({id: obj.name, text: obj.name});
				});
				this.productTypes = options;
			}
		},
		ready()
		{
			this.fetchOptions();
			this.fetchData();
		}

	}
</script>