<template>
	<div class="portlet light bg-grey-cararra">
		<div class="portlet-title">
			<div class="caption">
				<i class="icon-drawer font-red-sunglo"></i> <span class="caption-subject"> Organization</span>
			</div>
			<div class="actions">
				<a class="btn btn-icon-only green-haze tooltips" data-original-title="Product Type" @click="triggerAddForm">
					<i v-if="addMode == false" class="glyphicon glyphicon-plus" transition="fade"></i>
					<i v-else class="glyphicon glyphicon-remove" transition="fade"></i> </a>
			</div>
		</div>
		<div class="portlet-body">
			<div v-if="addMode == true" class="add-new" transition="fade">
				<form id="add-product-type" action="/api/v1/product-types" method="post" v-ajax>
					<div class="form-group">
						<label for="new-product-type">New Product Type</label>
						<div class="input-group">
							<input id="new-product-type" type="text" name="new_product_type" class="form-control" required>
						<span class="input-group-btn">
							<button class="btn blue" type="submit">Add</button>
						</span>
						</div>
					</div>
				</form>
			</div>
			<div v-else class="selection" transition="fade">
				<div class="form-group">
					<label for="product-type" class="control-label">Product Type</label>
					<select id="product-type" class="form-control" title="Select Product Type" v-select="productType" :options="productTypes">
						<option value="">Select Product Type</option>
					</select>
				</div>
			</div>

		</div>
	</div>

</template>
<style>
</style>
<script>
	export default{
		data(){
			return {
				productTypes: [],
				productType: $('[name=product_type]').val() || '',
				addMode: false
			}
		},
		watch: {
			'productType'(val, oldVal){
				$('[name=product_type]').val(this.productType);
			}
		},
		events: {
			'ajax-form-success'(data){
				if (data == 'add-product-type')
					this.fetchOptions();
					this.triggerAddForm();
			}
		},
		methods: {
			fetchOptions(){
				this.$http.get('/api/v1/product-types')
						.then(this.loadOptions.bind(this))
						.catch(this.onError.bind(this));
			},
			loadOptions(response){
				let options = [];
				response.data.data.forEach(function (obj) {
					options.push({id: obj.name, text: obj.name});
				});
				this.productTypes = options;
			},
			onError(response){
				console.error('Product Type:' + response.data.exception);
			},
			triggerAddForm(){
				this.addMode = !this.addMode;
			},
			updateProductType(){
				$('[name=product_type]').val(this.productType);
			}
		},
		ready(){
			this.fetchOptions();
		}
	}
</script>