<template>
	<div id="sales-performance-chart" class="portlet light bordered">
		<div class="portlet-title">
			<div class="caption caption-md">
				<i class="icon-bar-chart font-red"></i>
				<span class="caption-subject font-red bold uppercase">Weekly Performance</span>
				<span class="caption-helper">sales vs expenses...</span>
			</div>
			<div class="actions">

			</div>
		</div>
		<div class="portlet-body">
			<div id="chart"></div>
		</div>
	</div>
</template>
<style>
	#chart {
		min-height: 400px
	}
</style>
<script>
	export default{
		data(){
			return {
				chartData: []
			}
		},
		methods: {
			makeChart(){
				chart = new AmCharts.AmSerialChart();
				chart.dataProvider = this.chartData;
				chart.categoryField = "day";
				chart.startDuration = 1;
				chart.handDrawnScatter = 3;
				chart.sequencedAnimation = false;
				chart.startEffect = "easeOutSine";
				// AXES
				// category
				var categoryAxis = chart.categoryAxis;
				categoryAxis.gridPosition = "start";

				// value
				var valueAxis = new AmCharts.ValueAxis();
				valueAxis.axisAlpha = 0;
				chart.addValueAxis(valueAxis);

				// GRAPHS
				// column graph
				var graph1 = new AmCharts.AmGraph();
				graph1.type = "column";
				graph1.title = "Revenue";
				graph1.lineColor = "#a668d5";
				graph1.valueField = "total_revenue";
				graph1.lineAlpha = 1;
				graph1.fillAlphas = 1;
				graph1.dashLengthField = "dashLengthColumn";
				graph1.alphaField = "alpha";
				graph1.balloonText = "<span style='font-size:13px;'>[[title]] in [[category]]:<b>[[value]]</b> [[additional]]</span>";
				chart.addGraph(graph1);

				// line
				var graph2 = new AmCharts.AmGraph();
				graph2.type = "line";
				graph2.title = "Expenses";
				graph2.lineColor = "#fcd202";
				graph2.valueField = "total_spend";
				graph2.lineThickness = 3;
				graph2.bullet = "round";
				graph2.bulletBorderThickness = 3;
				graph2.bulletBorderColor = "#fcd202";
				graph2.bulletBorderAlpha = 1;
				graph2.bulletColor = "#ffffff";
				graph2.dashLengthField = "dashLengthLine";
				graph2.balloonText = "<span style='font-size:13px;'>[[title]] in [[category]]:<b>[[value]]</b> [[additional]]</span>";
				chart.addGraph(graph2);

				// LEGEND
				var legend = new AmCharts.AmLegend();
				legend.useGraphSettings = true;
				chart.addLegend(legend);

				// WRITE
				chart.write("chart");
			},
			fetchData(){
				this.$http.get('/api/v1/sales-performance')
						.then(this.onSuccess.bind(this))
						.catch(this.onError.bind(this))
			},
			onSuccess(response){
				this.$set('chartData', response.data.data);
				this.makeChart();
			},
			onError(response){
				console.error('[' + this.$options.name + ']:', response);
			},
		},
		components: {},
		ready(){
			this.fetchData();
		}
	}
</script>