<template>
	<div id="sales-ads-performance" class="portlet light bordered">
		<div class="portlet-title">
			<div class="caption caption-md">
				<i class="icon-bar-chart font-red"></i>
				<span class="caption-subject font-red bold uppercase">Sales Activity</span>
				<span class="caption-helper">Ads Performance...</span>
			</div>
			<div class="actions">
				<select id="product-type" class="form-control input-large" title="Select Product Type" v-select="productType" :options="productTypes">
					<option value="">Select Product Type</option>
				</select>
			</div>
		</div>
		<div class="portlet-body">
			<div class="table-scrollable table-scrollable-borderless">
				<data-grid
						:columns="[{name: 'date', text: 'date'},{name: 'total_revenue', text: 'revenue'},{name: 'total_quantity', text: 'quantity'},{name: 'total_spend', text: 'Spend'},{name: 'CTR', text: 'CTR'},{name: 'ACOS', text: 'ACOS'}]"
						:filters="[{field: 'total_revenue', filters:[{filter:'currency'}]},
							 			{field: 'total_spend', filters:[{filter:'currency'}]},
							 			{field: 'CTR', filters:[{filter:'percentage'}]},
							 			{field: 'ACOS', filters:[{filter:'percentage', args:['No sales']}]}
							 			]"
						:data="gridData">
				</data-grid>
				<div v-if="paginator.total_pages" class="pagination-panel pull-right margin-top-10">
					Page
					<a @click="paginate(paginator.prev)" :disabled="!paginator.prev" class="btn btn-sm default prev {{!paginator.prev ? 'disabled' : ''}}"><i class="fa fa-angle-left"></i></a>
					<input type="number" class="pagination-panel-input form-control input-sm input-inline input-mini" min="0" max="{{paginator.total_pages}}" v-model="paginator.current_page" @keyup.enter="paginate(paginator.current_page)">
					<a @click="paginate(paginator.next)" :disabled="!paginator.next" class="btn btn-sm default next {{!paginator.next ? 'disabled' : ''}}"><i class="fa fa-angle-right"></i></a> of
					<span class="pagination-panel-total">{{paginator.total_pages}}</span>
				</div>
			</div>
		</div>
	</div>

</template>
<style>
	.pagination-panel {
		padding-bottom: 10px;
	}

	.pagination-panel-input {
		text-align: center;
		margin: 0 5px;
		padding-right: 0;
	}
</style>
<script>
	import DataGrid from './DataGrid.vue'
	export default{
		props: {},
		data() {
			return {
				baseUrl: '/api/v1/sales-performance/',
				productTypes: [],
				productType: '',
				gridData: [],
				paginator: {}
			}
		},
		watch: {
			'productType'(val, oldVal){
				if (val.length) {
					let endPoint = this.baseUrl + encodeURIComponent(val);
					this.fetchData(endPoint);
				}
			}
		},
		components: {
			DataGrid
		},
		methods: {
			sortBy(key, order) {
				this.sortKey = key;
				if (!order) {
					this.sortOrders[key] = this.sortOrders[key] * -1;
				} else {
					this.sortOrders[key] = order;
				}
			},
			fetchData(endPoint){
				this.$http.get(endPoint)
						.then(this.onComplete.bind(this))
						.catch(this.onError.bind(this));
			},
			paginate(endPoint){
				if (!endPoint) {
					return false;
				}
				if ($.isNumeric(endPoint)) {
					console.log(endPoint);
					endPoint = this.endPoint + '?page=' + endPoint;
				}

				this.fetchData(endPoint);
			},
			onComplete(response){
				this.$set('gridData', response.data.data);
				this.$set('paginator', response.data.paginator);
			},
			onError(response){
				console.error('[sales-performance-grid]:', response);
			},
			fetchOptions(){
				this.$http.get('/api/v1/product-types')
						.then(this.loadOptions.bind(this))
						.catch(this.onError.bind(this))
			},
			loadOptions(response){
				let options = [];
				response.data.data.forEach(function (obj) {
					options.push({id: obj.name, text: obj.name});
				});
				this.productTypes = options;
			},
			formatData(dataset){
				let filters = this.$options.filters;
				dataset.forEach(function (obj, name) {
							$.each(obj, function (key, value) {
								if (key == 'total_revenue' || key == 'total_spend') {
									obj[key] = filters.currency(value);
								}
								if (key == 'ACOS' || key == 'CTR') {
									obj[key] = filters.percentage(value, 'No Sales');
								}
							})
						}
				);
				return dataset;
			}
		},
		ready(){
			this.fetchOptions();
		}
	}
</script>