<template>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat2">
			<div class="display">
				<div class="number">
					<h3 class="font-green-sharp">
						<small class="font-green-sharp">$</small>
						<span data-counter="counterup" data-value="{{ stats.amount_ytd }}">{{ stats.amount_ytd }}</span>
					</h3>
					<small>Year to Date Sales</small>
				</div>
				<div class="icon">
					<i class="icon-pie-chart"></i>
				</div>
			</div>
			<div class="progress-info">
				<div class="progress">
					<span style="width: 100%;" class="progress-bar progress-bar-success green-sharp">
						<span class="sr-only">100% progress</span>
					</span>
				</div>
				<div class="status">
					<div class="status-title font-md">Unit Sales</div>
					<div class="status-number font-green-sharp font-md">{{ stats.quantity_ytd }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat2 ">
			<div class="display">
				<div class="number">
					<h3 class="font-red-haze">
						<small class="font-red-haze">$</small>
						<span data-counter="counterup" data-value="{{ stats.amount_mtd }}">{{ stats.amount_mtd }}</span>
					</h3>
					<small>Month To Date Sales</small>
				</div>
				<div class="icon">
					<i class="icon-like"></i>
				</div>
			</div>
			<div class="progress-info">
				<div class="progress">
					<span style="width: 100%;" class="progress-bar progress-bar-success red-haze">
						<span class="sr-only">100% change</span>
					</span>
				</div>
				<div class="status">
					<div class="status-title font-md">Unit Sales</div>
					<div class="status-number font-red-haze font-md">{{ stats.quantity_mtd }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat2 ">
			<div class="display">
				<div class="number">
					<h3 class="font-blue-sharp">
						<small class="font-blue-sharp">$</small>
						<span data-counter="counterup" data-value="{{ stats.amount_wtd }}">{{ stats.amount_wtd }}</span>
					</h3>
					<small>Week To Date Sales</small>
				</div>
				<div class="icon">
					<i class="icon-basket"></i>
				</div>
			</div>
			<div class="progress-info">
				<div class="progress">
                                    <span style="width: 100%;" class="progress-bar progress-bar-success blue-sharp">
                                        <span class="sr-only">100% grow</span>
                                    </span>
				</div>
				<div class="status">
					<div class="status-title font-md">Unit Sales</div>
					<div class="status-number font-blue-sharp font-md">{{ stats.quantity_wtd }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat2 ">
			<div class="display">
				<div class="number">
					<h3 class="font-purple-soft">
						<small class="font-purple-soft">$</small>
						<span data-counter="counterup" data-value="{{ stats.amount_today }}">{{ stats.amount_today }}</span>
					</h3>
					<small>Today's Sale</small>
				</div>
				<div class="icon">
					<i class="icon-user"></i>
				</div>
			</div>
			<div class="progress-info">
				<div class="progress">
					<span style="width: 100%;" class="progress-bar progress-bar-success purple-soft">
						<span class="sr-only">100% change</span>
					</span>
				</div>
				<div class="status">
					<div class="status-title font-md">Unit Sales</div>
					<div class="status-number font-purple-soft font-md">{{ stats.quantity_today }}</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default{
		data() {
			return {
				stats: {}
			};
		},
		created() {
			this.fetchStatistics();
		},
		methods: {
			fetchStatistics() {
				this.$http.get('/api/v1/stats')
						.then(this.onComplete.bind(this))
						.catch(this.onError.bind(this));
			},
			onComplete(response){
				this.$set('stats', response.data.data);
			},
			onError(response){
				console.error('[sales-stats]: ' + response.data.message);
			}
		}
	};
</script>