<template>
	<select class="form-control input-large" v-model="selected" @change="broadcast" title="">
		<option value="" disabled selected>Choose your option</option>
		<option v-for="option in options" :value="option.value">{{option.value}}</option>
	</select>
</template>
<script>
	import CoerceBoolean from './utils/coerceBoolean.js'
	export default{
		props: {
			options: Array,
			action: {
				type: String,
				default: 'default-select-action'
			},
			broadcast: {
				type: Boolean,
				coerce: CoerceBoolean,
				default: false
			}
		},
		data(){
			return {
				selected: 'Pick One'
			}
		},
		methods: {
			broadcast(){
				this.$dispatch(this.action, this.selected);
			}
		}
	}
</script>