.navbar-nav > .login-link {
  > a {
    padding-top: 25px;
    padding-bottom: 23px;
    font-size: 18px;
  }
}

.page-logo {
  a:hover {
    text-decoration: none;
  }
}

.page-content {
  padding-top: 2em;
}

.no-outline {
  outline: none;
}

.form-group.form-md-line-input {
  .medium-editable {
    border-bottom: 1px solid #c2cad8;
    padding-bottom: 5px;
    min-height: 300px;
    height: auto;
    &:after {
      color: #000;
      margin: auto;
    }
  }
  .select2-container {
    margin-top: 10px;
  }
}

.blog-content-2 .blog-single-content > .blog-single-desc > h2 {
  margin: 0 0 35px 0;
  font-size: 16px;
  color: #7e8691;
  line-height: 1em;
}

.portlet {
  .portlet-title {
    form {
      display: inline-flex;
    }
  }
}

.t-breadcrumb {
  margin-top: 15px;
  margin-left: 10px;
  display: inline-block;
  position: relative;
  float: left !important;
  transition: all 0.6s;
}

//VueJS fade transition
.fade-transition {
  transition: all 0.8s ease;
  overflow: hidden;
  visibility: visible;
}

.fade-leave {
  display: none;
}

.fade-enter, .fade-leave {
  opacity: 0;
  visibility: hidden;
}
